.inlineWrapper {
    display: inline-block;
}

.itemDetails {
    position: absolute;
    padding: 50px;
}

.imageList {
    float: right;
}

.imageWrapper {
    width: 120px;
    height: 120px;
}

.greenButton {
    background-color: #84c639;
    color: #fff;
    border: 0px;
}

.quantityActionButton {
    border: 1px solid #84c639;
    color: #000;
    background-color: #fff;
    height: 26px;
    width: 26px;
}

.successImage {
    display: none;
}

.shareButton {
    margin-left: 20px;
}

.addToCartButton {
    float: right;
}

.discountPrice {
    text-decoration: line-through;
}

.itemWrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #e1e1e1;
    margin: 30px;
    width: 252px;
    height: 350px;
}

.itemOuterWrapper {
    padding: 10px 20px 10px 50px;
}

.itemImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemName {
    font: 700 12px/1.35 Source Sans Pro, sans-serif;
    padding-left: 20px;
}

.itemArabicName {
    padding-left: 20px;
}

.itemActionWrapper {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.itemActionWrapper {
   float: bottom;
}

.itemPrice {
    font: 700 12px/1.35 Source Sans Pro, sans-serif;
    display: flex;
    justify-content: center;
}